# Android
local.properties
*.keystore
*.DS_Store
.externalNativeBuild

# Gradle
.gradle
build
jacoco.exec

# gh-pages
doc/**
_site/*
_pages/*
docs/**/*

# Vim
*.swp
*.swo

# sed
*.bak

# Intellij
*.iml
*.ipr
*.iws
.idea